.home{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5438bd1be4b0446f6692b906/1476329015157-BG815YVEBD02W92A59ZD/7591ab40459309.577feda663f0e.png);
    background-color: rgb(19, 18, 18);
    height:100vh;
    width:100%;
    color:blue
}
h1{
    text-align: center;
    padding-top: 10px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}