<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="back">
    <div class="login">
    <h2 class="h2">Login</h2>
    <form class="form" action="/login" method="post">
       <div class="email">
         <i class="fa fa-envelope" aria-hidden="true"></i>
        <input class="email"type="email"
       name="email" placeholder="email"
        >
        </div>
    <br><br>
    <div class="password">
         <i class="fa fa-unlock" aria-hidden="true"></i>
        <input class=" password" type="password"name="password" placeholder="password">
       </div>
        <br><br><br>
        <input class="submit" type="Submit">
        
    </form>
    <br><br><br><br>
    <a class=" a" href="/signup">Make new account</a>
    </div>
    </div>
</body>
</html>